<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
    
      <ion-input round type=”text” placeholder=Username name=”username” #username ></ion-input>
    
    </ion-item>
    
    <ion-item>
    
      <ion-input type=”password” placeholder=Password name=”password” #password></ion-input>
    
    </ion-item>
    
      <ion-button shape="round" expand="block" href="https://www.ionicframework.com">Sign In</ion-button>
      <ion-button shape="round" expand="block">Register</ion-button>
</ion-content>
